<!DOCTYPE html>

<html ng-app="hitviewapp" lang="de">
<head>
    <meta charset="UTF-8">
    <title>Hitview</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="libs/css/bootstrap.min.css">
    <script src="libs/js/moment/moment-with-locales.js"></script>
    <script src="libs/js/angular/angular.js"></script>
    <script src="libs/js/ng-websocket/ng-websocket.js"></script>
    <script src="libs/js/ng-lodash/ng-lodash.js"></script>
    <script src="libs/js/angular-moment/angular-moment.js"></script>
    <script src="app/app.js"></script>
</head>
<body>
<div class="container" style="width: 100%;">
    <div class="container-float pull-right">
        <!--<clock-span style="white-space:nowrap;"></clock-span>-->
    </div>
</div>
<hr>
<div ng-controller="HitView">
<div class="col-sm-3">
    <h2>Team: {{double.teamName}}</h2>
    <h4>Total Hits: {{double.teamHitcount}}</h4>
    <button type="button" ng-click="reset()">Reset!</button>
</div>
<div class="container col-sm-8 center-block">
    <table class="table table-bordered">
        <tr>
            <th style="text-align: center" width="30%">
                Node ID
            </th>
            <th style="text-align: center" width="30%">
                Event
            </th>
            <th style="text-align: center" width="10%">
                Time
            </th>
            <th style="text-align: center" width="10%">
                HitCount
            </th>
        </tr>
        <tr style="text-align: center" ng-repeat="target in double.targetList|orderBy: '-timestamp'">
            <td style="text-align: center">{{target.id}}</td>
            <td style="text-align: center">{{target.eventType}}</td>
            <td style="text-align: center"><span>{{target.timestamp| amFromUnix | amDateFormat: 'HH:MM:ss'}}</span></td>
            <td style="text-align: center">{{target.hitcount}}</td>
        </tr>
    </table>
</div>
<div class="col-sm-1">
</div>
</div>
</body>
</html>